*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(102, 203, 243);
    height: 150px;
    padding: 3%;

}

#section{
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: orange;


}

.span-header{
    height: 100%;
    background-color: orange;
    border: dashed black 3px;
    width: 20%;
}


.div-header{
    height: 100%;
    border: dashed black 3px;
    width: 60%;

}


#section2{
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1{
   
    background-color: plum;
    padding: 10%;
    height: 80%;
    width: 60%;
    border: 2px dashed black; 
    
}

.bordo{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grigio{
    background-color: gray;
}

.bianco{
    background-color: #fff;
}

.nero{
    background-color: black;
}

.sezioni-main{

    width: 60%;
    height: 100%;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
   
}

.colonne-img{
    background-color: aqua;
    height: 100%;
    width: 60%;
    border: 2px dashed black; 
    
}

.colonne-text{
    background-color: salmon;
    height: 100%;
    width: 40%;
    border: 2px dashed black; 
}

.bordo2{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-verde{
    background-color: green;
    height: 600px;
    width: 60%;
    border: 2px dashed black; 
}

.sezione-footer{
    width: 60%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

#colonna-footer{
    width: 70%;
    height: 100%;
    background-color: rgb(255, 81, 62);
    border: 2px dashed black;
}

.colonne-footer{
    width: 40%;
    height: 100%;
    background-color: turquoise;
    border: 2px dashed black; 
}
